<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Area</th>
              <th scope="col"></th>
            
            </tr>
          </thead>
          <tbody>

            <tr>
              {{#each areainvolucrada}}
            <tr>
              <td scope="row">{{nombre}} </td>
              <td scope="row">agregar </td>
            </tr>
            {{/each}}
        </table>
        </tr>       
       
        </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!--   -->